### Loading Data

In [1]:
import numpy as np
import pandas as pd

#### Loading CSV Files

We saw we could use Python's `csv` module to load a csv file into a list of lists.

Pandas offers similar functionality, where we can load a csv file directly into a `DataFrame`.

Let's look at the file `populations.csv`:

In [2]:
from csv import reader
with open('populations.csv') as f:
    data = reader(f)
    print(next(data))
    print(next(data))
    print(next(data))

['Geographic Area', 'July 1, 2001 Estimate', 'July 1, 2000 Estimate', 'April 1, 2000 Population Estimates Base']
['United States', '284796887', '282124631', '281421906']
['Alabama', '4464356', '4451493', '4447100']

Now let's use Pandas' built-in csv reader:

In [3]:
df = pd.read_csv('populations.csv')

In [4]:
df

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400
5,California,34501130,34000446,33871648
6,Colorado,4417714,4323410,4301261
7,Connecticut,3425074,3410079,3405565
8,Delaware,796165,786234,783600
9,District of Columbia,571822,571066,572059
10,Florida,16396515,16054328,15982378
11,Georgia,8383915,8229823,8186453
12,Hawaii,1224398,1212281,1211537
13,Idaho,1321006,1299258,1293953
14,Illinois,12482301,12435970,12419293
15,Indiana,6114745,6089950,6080485
16,Iowa,2923179,2927509,2926324
17,Kansas,2694641,2691750,2688418
18,Kentucky,4065556,4047424,4041769
19,Louisiana,4465430,4469970,4468976
20,Maine,1286670,1276961,1274923
21,Maryland,5375156,5310908,5296486
22,Massachusetts,6379304,6357072,6349097
23,Michigan,9990817,9952006,9938444
24,Minnesota,4972294,4931093,4919479
25,Mississippi,2858029,2849100,2844658
26,Missouri,5629707,5603553,5595211
27,Montana,904433,903157,902195
28,Nebraska,1713235,1712577,1711263
29,Nevada,2106074,2018723,1998257
30,New Hampshire,1259181,1239881,1235786
31,New Jersey,8484431,8429007,8414350
32,New Mexico,1829146,1821282,1819046
33,New York,19011378,18989332,18976457
34,North Carolina,8186268,8077367,8049313
35,North Dakota,634448,640919,642200
36,Ohio,11373541,11359955,11353140
37,Oklahoma,3460097,3453250,3450654
38,Oregon,3472867,3429293,3421399
39,Pennsylvania,12287150,12282591,12281054
40,Rhode Island,1058920,1050236,1048319
41,South Carolina,4063011,4023438,4012012
42,South Dakota,756600,755509,754844
43,Tennessee,5740021,5702027,5689283
44,Texas,21325018,20946503,20851820
45,Utah,2269789,2241555,2233169
46,Vermont,613090,609709,608827
47,Virginia,7187734,7104016,7078515
48,Washington,5987973,5908372,5894121
49,West Virginia,1801916,1807099,1808344
50,Wisconsin,5401906,5372243,5363675
51,Wyoming,494423,494001,493782

First thing is that we'll probably want to relabel the column labels - they're far too long.

In [5]:
df = df.rename(
    columns={
        'Geographic Area':'region', 
        'July 1, 2001 Estimate': '2001', 
        'July 1, 2000 Estimate': '2000', 
        'April 1, 2000 Population Estimates Base': 'not needed'
    }
)
df

                  region       2001       2000  not needed
0          United States  284796887  282124631   281421906
1                Alabama    4464356    4451493     4447100
2                 Alaska     634892     627601      626932
3                Arizona    5307331    5165274     5130632
4               Arkansas    2692090    2678030     2673400
5             California   34501130   34000446    33871648
6               Colorado    4417714    4323410     4301261
7            Connecticut    3425074    3410079     3405565
8               Delaware     796165     786234      783600
9   District of Columbia     571822     571066      572059
10               Florida   16396515   16054328    15982378
11               Georgia    8383915    8229823     8186453
12                Hawaii    1224398    1212281     1211537
13                 Idaho    1321006    1299258     1293953
14              Illinois   12482301   12435970    12419293
15               Indiana    6114745    6089950     6080485
16                  Iowa    2923179    2927509     2926324
17                Kansas    2694641    2691750     2688418
18              Kentucky    4065556    4047424     4041769
19             Louisiana    4465430    4469970     4468976
20                 Maine    1286670    1276961     1274923
21              Maryland    5375156    5310908     5296486
22         Massachusetts    6379304    6357072     6349097
23              Michigan    9990817    9952006     9938444
24             Minnesota    4972294    4931093     4919479
25           Mississippi    2858029    2849100     2844658
26              Missouri    5629707    5603553     5595211
27               Montana     904433     903157      902195
28              Nebraska    1713235    1712577     1711263
29                Nevada    2106074    2018723     1998257
30         New Hampshire    1259181    1239881     1235786
31            New Jersey    8484431    8429007     8414350
32            New Mexico    1829146    1821282     1819046
33              New York   19011378   18989332    18976457
34        North Carolina    8186268    8077367     8049313
35          North Dakota     634448     640919      642200
36                  Ohio   11373541   11359955    11353140
37              Oklahoma    3460097    3453250     3450654
38                Oregon    3472867    3429293     3421399
39          Pennsylvania   12287150   12282591    12281054
40          Rhode Island    1058920    1050236     1048319
41        South Carolina    4063011    4023438     4012012
42          South Dakota     756600     755509      754844
43             Tennessee    5740021    5702027     5689283
44                 Texas   21325018   20946503    20851820
45                  Utah    2269789    2241555     2233169
46               Vermont     613090     609709      608827
47              Virginia    7187734    7104016     7078515
48            Washington    5987973    5908372     5894121
49         West Virginia    1801916    1807099     1808344
50             Wisconsin    5401906    5372243     5363675
51               Wyoming     494423     494001      493782

We'll want to drop that last column:

In [6]:
df = df.drop(columns=['not needed'])
df

                  region       2001       2000
0          United States  284796887  282124631
1                Alabama    4464356    4451493
2                 Alaska     634892     627601
3                Arizona    5307331    5165274
4               Arkansas    2692090    2678030
5             California   34501130   34000446
6               Colorado    4417714    4323410
7            Connecticut    3425074    3410079
8               Delaware     796165     786234
9   District of Columbia     571822     571066
10               Florida   16396515   16054328
11               Georgia    8383915    8229823
12                Hawaii    1224398    1212281
13                 Idaho    1321006    1299258
14              Illinois   12482301   12435970
15               Indiana    6114745    6089950
16                  Iowa    2923179    2927509
17                Kansas    2694641    2691750
18              Kentucky    4065556    4047424
19             Louisiana    4465430    4469970
20                 Maine    1286670    1276961
21              Maryland    5375156    5310908
22         Massachusetts    6379304    6357072
23              Michigan    9990817    9952006
24             Minnesota    4972294    4931093
25           Mississippi    2858029    2849100
26              Missouri    5629707    5603553
27               Montana     904433     903157
28              Nebraska    1713235    1712577
29                Nevada    2106074    2018723
30         New Hampshire    1259181    1239881
31            New Jersey    8484431    8429007
32            New Mexico    1829146    1821282
33              New York   19011378   18989332
34        North Carolina    8186268    8077367
35          North Dakota     634448     640919
36                  Ohio   11373541   11359955
37              Oklahoma    3460097    3453250
38                Oregon    3472867    3429293
39          Pennsylvania   12287150   12282591
40          Rhode Island    1058920    1050236
41        South Carolina    4063011    4023438
42          South Dakota     756600     755509
43             Tennessee    5740021    5702027
44                 Texas   21325018   20946503
45                  Utah    2269789    2241555
46               Vermont     613090     609709
47              Virginia    7187734    7104016
48            Washington    5987973    5908372
49         West Virginia    1801916    1807099
50             Wisconsin    5401906    5372243
51               Wyoming     494423     494001

And lastly, we may want to use the `region` column as the explicit index:

In [7]:
df = df.set_index('region')
df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

Let's look at the data frame info:

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    52 non-null     int64
 1   2000    52 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

Instead of loading the CSV file and then manipulating the indexes, columns etc, we could do this using additional arguments in the `read_csv` function.

In [9]:
df = pd.read_csv(
    'populations.csv', 
    header=0,  # indicates we are using the first row as column headers
    usecols=[0, 1, 2],  # specify which columns to use in DF
    names=['region', '2001', '2000'],  # rename the column labels
    index_col=0,  # use column index 0 as the index
)
df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    52 non-null     int64
 1   2000    52 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

Now that we have this data stuctured this way, we can use universal functions/operators, just like we did in NumPy to calculate the population growth from 2000 to 2001 as a percentage of the 2000 population.

In [11]:
df.loc[:, '2001']

region
United States           284796887
Alabama                   4464356
Alaska                     634892
Arizona                   5307331
Arkansas                  2692090
California               34501130
Colorado                  4417714
Connecticut               3425074
Delaware                   796165
District of Columbia       571822
Florida                  16396515
Georgia                   8383915
Hawaii                    1224398
Idaho                     1321006
Illinois                 12482301
Indiana                   6114745
Iowa                      2923179
Kansas                    2694641
Kentucky                  4065556
Louisiana                 4465430
Maine                     1286670
Maryland                  5375156
Massachusetts             6379304
Michigan                  9990817
Minnesota                 4972294
Mississippi               2858029
Missouri                  5629707
Montana                    904433
Nebraska                  1713235
Nevada                    2106074
New Hampshire             1259181
New Jersey                8484431
New Mexico                1829146
New York                 19011378
North Carolina            8186268
North Dakota               634448
Ohio                     11373541
Oklahoma                  3460097
Oregon                    3472867
Pennsylvania             12287150
Rhode Island              1058920
South Carolina            4063011
South Dakota               756600
Tennessee                 5740021
Texas                    21325018
Utah                      2269789
Vermont                    613090
Virginia                  7187734
Washington                5987973
West Virginia             1801916
Wisconsin                 5401906
Wyoming                    494423
Name: 2001, dtype: int64

Note that we could also use plain `[]` since we are going to work with just column labels, and no slicing.

In [12]:
df['2001']

region
United States           284796887
Alabama                   4464356
Alaska                     634892
Arizona                   5307331
Arkansas                  2692090
California               34501130
Colorado                  4417714
Connecticut               3425074
Delaware                   796165
District of Columbia       571822
Florida                  16396515
Georgia                   8383915
Hawaii                    1224398
Idaho                     1321006
Illinois                 12482301
Indiana                   6114745
Iowa                      2923179
Kansas                    2694641
Kentucky                  4065556
Louisiana                 4465430
Maine                     1286670
Maryland                  5375156
Massachusetts             6379304
Michigan                  9990817
Minnesota                 4972294
Mississippi               2858029
Missouri                  5629707
Montana                    904433
Nebraska                  1713235
Nevada                    2106074
New Hampshire             1259181
New Jersey                8484431
New Mexico                1829146
New York                 19011378
North Carolina            8186268
North Dakota               634448
Ohio                     11373541
Oklahoma                  3460097
Oregon                    3472867
Pennsylvania             12287150
Rhode Island              1058920
South Carolina            4063011
South Dakota               756600
Tennessee                 5740021
Texas                    21325018
Utah                      2269789
Vermont                    613090
Virginia                  7187734
Washington                5987973
West Virginia             1801916
Wisconsin                 5401906
Wyoming                    494423
Name: 2001, dtype: int64

We can find the population differences using the `-` operator (which again will use the NumPy subtraction universal function):

In [13]:
df['2001'] - df['2000']

region
United States           2672256
Alabama                   12863
Alaska                     7291
Arizona                  142057
Arkansas                  14060
California               500684
Colorado                  94304
Connecticut               14995
Delaware                   9931
District of Columbia        756
Florida                  342187
Georgia                  154092
Hawaii                    12117
Idaho                     21748
Illinois                  46331
Indiana                   24795
Iowa                      -4330
Kansas                     2891
Kentucky                  18132
Louisiana                 -4540
Maine                      9709
Maryland                  64248
Massachusetts             22232
Michigan                  38811
Minnesota                 41201
Mississippi                8929
Missouri                  26154
Montana                    1276
Nebraska                    658
Nevada                    87351
New Hampshire             19300
New Jersey                55424
New Mexico                 7864
New York                  22046
North Carolina           108901
North Dakota              -6471
Ohio                      13586
Oklahoma                   6847
Oregon                    43574
Pennsylvania               4559
Rhode Island               8684
South Carolina            39573
South Dakota               1091
Tennessee                 37994
Texas                    378515
Utah                      28234
Vermont                    3381
Virginia                  83718
Washington                79601
West Virginia             -5183
Wisconsin                 29663
Wyoming                     422
dtype: int64

And, we can find that as a percentage of the `2000` estimate:

In [14]:
increase = 100 * (df['2001'] - df['2000']) / df['2000']
increase

region
United States           0.947190
Alabama                 0.288959
Alaska                  1.161725
Arizona                 2.750232
Arkansas                0.525013
California              1.472581
Colorado                2.181241
Connecticut             0.439726
Delaware                1.263110
District of Columbia    0.132384
Florida                 2.131431
Georgia                 1.872361
Hawaii                  0.999521
Idaho                   1.673878
Illinois                0.372556
Indiana                 0.407146
Iowa                   -0.147907
Kansas                  0.107402
Kentucky                0.447989
Louisiana              -0.101567
Maine                   0.760321
Maryland                1.209737
Massachusetts           0.349721
Michigan                0.389982
Minnesota               0.835535
Mississippi             0.313397
Missouri                0.466740
Montana                 0.141282
Nebraska                0.038422
Nevada                  4.327042
New Hampshire           1.556601
New Jersey              0.657539
New Mexico              0.431784
New York                0.116097
North Carolina          1.348224
North Dakota           -1.009644
Ohio                    0.119596
Oklahoma                0.198277
Oregon                  1.270641
Pennsylvania            0.037118
Rhode Island            0.826862
South Carolina          0.983562
South Dakota            0.144406
Tennessee               0.666324
Texas                   1.807056
Utah                    1.259572
Vermont                 0.554527
Virginia                1.178460
Washington              1.347258
West Virginia          -0.286813
Wisconsin               0.552153
Wyoming                 0.085425
dtype: float64

#### Loading Excel Files

Pandas can also load data directly from an Excel spreadsheet.

Spreadsheets often have multiple tabs, so one of the arguments to the `read_excel` function is which tab to use, either by index (starting at `0`, and the default setting), or by name (such as `Sheet1`, etc).

In order for Pandas to read Excel spreadsheets, an additional library needs to be installed that will handle reading Excel files - one like the `xlrd` library is a possible choice (there are others, see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html). 

You can simply `pip install xlrd` in your virtual environment. (It should already be installed if you followed the installation instructions at the beginning of this course).

For this example I have a spreadsheet named `populations.xls` containing data in the first tab, named `data`.

In [15]:
df = pd.read_excel('populations.xls', sheet_name='data')
df

,Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
0,United States,284796887,282124631,281421906
1,Alabama,4464356,4451493,4447100
2,Alaska,634892,627601,626932
3,Arizona,5307331,5165274,5130632
4,Arkansas,2692090,2678030,2673400
5,California,34501130,34000446,33871648
6,Colorado,4417714,4323410,4301261
7,Connecticut,3425074,3410079,3405565
8,Delaware,796165,786234,783600
9,District of Columbia,571822,571066,572059
10,Florida,16396515,16054328,15982378
11,Georgia,8383915,8229823,8186453
12,Hawaii,1224398,1212281,1211537
13,Idaho,1321006,1299258,1293953
14,Illinois,12482301,12435970,12419293
15,Indiana,6114745,6089950,6080485
16,Iowa,2923179,2927509,2926324
17,Kansas,2694641,2691750,2688418
18,Kentucky,4065556,4047424,4041769
19,Louisiana,4465430,4469970,4468976
20,Maine,1286670,1276961,1274923
21,Maryland,5375156,5310908,5296486
22,Massachusetts,6379304,6357072,6349097
23,Michigan,9990817,9952006,9938444
24,Minnesota,4972294,4931093,4919479
25,Mississippi,2858029,2849100,2844658
26,Missouri,5629707,5603553,5595211
27,Montana,904433,903157,902195
28,Nebraska,1713235,1712577,1711263
29,Nevada,2106074,2018723,1998257
30,New Hampshire,1259181,1239881,1235786
31,New Jersey,8484431,8429007,8414350
32,New Mexico,1829146,1821282,1819046
33,New York,19011378,18989332,18976457
34,North Carolina,8186268,8077367,8049313
35,North Dakota,634448,640919,642200
36,Ohio,11373541,11359955,11353140
37,Oklahoma,3460097,3453250,3450654
38,Oregon,3472867,3429293,3421399
39,Pennsylvania,12287150,12282591,12281054
40,Rhode Island,1058920,1050236,1048319
41,South Carolina,4063011,4023438,4012012
42,South Dakota,756600,755509,754844
43,Tennessee,5740021,5702027,5689283
44,Texas,21325018,20946503,20851820
45,Utah,2269789,2241555,2233169
46,Vermont,613090,609709,608827
47,Virginia,7187734,7104016,7078515
48,Washington,5987973,5908372,5894121
49,West Virginia,1801916,1807099,1808344
50,Wisconsin,5401906,5372243,5363675
51,Wyoming,494423,494001,493782

Again, we could manipulate this data like we did before, but again, we could also use various arguments in the `read_excel` function instead:

In [16]:
df = pd.read_excel(
    'populations.xls',
    header=0,
    names=['region', '2001', '2000'],
    usecols=[0, 1, 2],
    index_col=0,    
)
df

                           2001       2000
region
United States         284796887  282124631
Alabama                 4464356    4451493
Alaska                   634892     627601
Arizona                 5307331    5165274
Arkansas                2692090    2678030
California             34501130   34000446
Colorado                4417714    4323410
Connecticut             3425074    3410079
Delaware                 796165     786234
District of Columbia     571822     571066
Florida                16396515   16054328
Georgia                 8383915    8229823
Hawaii                  1224398    1212281
Idaho                   1321006    1299258
Illinois               12482301   12435970
Indiana                 6114745    6089950
Iowa                    2923179    2927509
Kansas                  2694641    2691750
Kentucky                4065556    4047424
Louisiana               4465430    4469970
Maine                   1286670    1276961
Maryland                5375156    5310908
Massachusetts           6379304    6357072
Michigan                9990817    9952006
Minnesota               4972294    4931093
Mississippi             2858029    2849100
Missouri                5629707    5603553
Montana                  904433     903157
Nebraska                1713235    1712577
Nevada                  2106074    2018723
New Hampshire           1259181    1239881
New Jersey              8484431    8429007
New Mexico              1829146    1821282
New York               19011378   18989332
North Carolina          8186268    8077367
North Dakota             634448     640919
Ohio                   11373541   11359955
Oklahoma                3460097    3453250
Oregon                  3472867    3429293
Pennsylvania           12287150   12282591
Rhode Island            1058920    1050236
South Carolina          4063011    4023438
South Dakota             756600     755509
Tennessee               5740021    5702027
Texas                  21325018   20946503
Utah                    2269789    2241555
Vermont                  613090     609709
Virginia                7187734    7104016
Washington              5987973    5908372
West Virginia           1801916    1807099
Wisconsin               5401906    5372243
Wyoming                  494423     494001

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, United States to Wyoming
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    52 non-null     int64
 1   2000    52 non-null     int64
dtypes: int64(2)
memory usage: 1.2+ KB

You can find more information about loading Excel files here:


https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

There is a whole plethora of different readers available to load data from a variety of sources, which you can see here:

https://pandas.pydata.org/pandas-docs/stable/reference/io.html